<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 控制台主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-col-md2">
                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo"
                    style="margin-right: 10px;width: 160px">
                    <li class="layui-nav-item"><a href="">浙J123</a></li>
                    <li class="layui-nav-item"><a href="">浙J456</a></li>
                    <li class="layui-nav-item"><a href="">浙J236</a></li>
                    <li class="layui-nav-item"><a href="">浙J365</a></li>
                </ul>
            </div>
            <div class="layui-col-md10">
                <div class="layui-row layui-col-space10">
                    <div class="md12">
                        <div>
                            <button class="layui-btn">新增过磅单</button>
                            <button class="layui-btn">添加报检单</button>
                            <button class="layui-btn layui-btn-danger">确认</button>
                            <button class="layui-btn layui-btn-normal">打印</button>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">送货单
                                <button class="layui-btn layui-btn-sm" style="margin-left: 50px;">删除</button>
                            </div>
                            <div class="layui-card-body">
                                <!--表单数据-->
                                <form class="layui-form" action="">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">报检单号</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">报检单重量</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">车牌号</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">货品名称</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">货品类型</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">过磅单位</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="required" autocomplete="off"
                                                       placeholder="" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <!--<label class="layui-form-label">样品</label>-->
                                            <div class="layui-input-block">
                                                <input type="checkbox" name="like[write]" title="样品">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="layui-form-item">-->
                                    <!--<div class="layui-input-block">-->
                                    <!--<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>-->
                                    <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">总重</div>
                                    <div class="layui-card-body">
                                        <div class="layui-col-md8">
                                            <!--表单数据-->
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">总重</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">时间</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--图片一-->
                                        <div>
                                            <img src="../../layuiadmin/layui/images/face/0.gif"
                                                 style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">
                                        <button class="layui-btn layui-btn-sm">获取</button>
                                    </div>
                                    <div class="layui-card-body">
                                        <div class="layui-col-md8">
                                            <!--表单数据-->
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">皮重</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label">时间</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input" readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--图片-->
                                        <div>
                                            <img src="../../layuiadmin/layui/images/face/0.gif"
                                                 style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">

                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-header">实时重量</div>
                                    <div class="layui-card-body layuiadmin-card-list">
                                        <p id="currentWeight" class="layuiadmin-big-font" style="color: #009688;">0</p>
                                        <p>
                                            +9,999,666
                                            <!--<span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>-->
                                        </p>
                                    </div>
                                    <div class="layui-card-header" style="color: #F74C31;">净重</div>
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-card-body layuiadmin-card-list">
                                                <p class="layuiadmin-big-font" style="color: #F74C31;">6,666</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="layui-card">
                                    <div class="layui-card-header">视频</div>
                                    <div class="layui-card-body">
                                        <img src="../../layuiadmin/layui/images/face/0.gif"
                                             style="width:220px;height:220px">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md3">
                                <div class="page-header" id="tou">
                                    webSocket多终端聊天测试
                                </div>
                                <div class="well" id="msg"></div>
                                <div class="col-lg">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="发送信息..." id="message">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="send">发送</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>


<script src="../../layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);
</script>
</body>
</html>

