<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 控制台主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/pound/console.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12">
            <div class="layui-col-md2">
                <p class="wait-list-title">未处理磅单列表：</p>
                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo"
                    style="margin-right: 10px;width: 160px">
                    <li class="layui-nav-item"><a href="">浙J123</a></li>
                    <li class="layui-nav-item"><a href="">浙J456</a></li>
                    <li class="layui-nav-item"><a href="">浙J236</a></li>
                    <li class="layui-nav-item"><a href="">浙J365</a></li>
                </ul>
            </div>
            <div class="layui-col-md10">
                <div class="layui-row layui-col-space10">
                    <div class="md12">
                        <div>
                            <button class="layui-btn">新增</button>
                            <button class="layui-btn">保存</button>
                            <button class="layui-btn layui-btn-danger">提交</button>
                            <button class="layui-btn layui-btn-normal">打印</button>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <div class="layui-inline">
                                    <label class="layui-form-label">送货单</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" lay-verify="required" autocomplete="off"
                                               placeholder="" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">收货组织</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" lay-verify="required" autocomplete="off"
                                               placeholder="" class="layui-input">
                                    </div>
                                </div>
                                <button class="layui-btn btn-inspection layui-btn-sm" data-type="add" style="margin-left: 50px;">添加</button>
                                <button class="layui-btn btn-inspection layui-btn-sm layui-btn-danger" data-type="batchdel">删除</button>

                            </div>
                            <div class="layui-card-body" style="padding: 0">
                                <table id="LAY-inspection-manage" lay-filter="LAY-inspection-manage" class="layui-hide">
                                </table>

                                <script type="text/html" id="table-inspection">
                                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                                    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>-->
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-form-item" style="margin-bottom: 0">
                                        <div class="layui-card-body layuiadmin-card-list" style="padding:5px">
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="padding-left:0;width:120px;">实时重量</label>
                                                <div class="layui-input-inline">
                                                    <input id="currentWeight" type="number"
                                                           autocomplete="off" class="layui-input"
                                                           style="color: #009688;" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="padding-left: 0 ;width: 120px">磅差</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="email"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="padding-left: 0;width: 120px">净重（不含样品）</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="email"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="padding-left: 0 ;width: 120px">样品净重</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="email"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label" style="padding-left: 0;width: 120px">随车退货重量</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="email" lay-verify="email"
                                                           autocomplete="off" class="layui-input">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="layui-card-header">实时重量</div>-->
                                        <!--<div class="layui-card-body layuiadmin-card-list">-->
                                        <!--<p id="currentWeight" class="layuiadmin-big-font" style="color: #009688;">0</p>-->
                                        <!--<p>-->
                                        <!--+9,999,666-->
                                        <!--&lt;!&ndash;<span class="layuiadmin-span-color">88万 <i class="layui-inline layui-icon layui-icon-flag"></i></span>&ndash;&gt;-->
                                        <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="layui-card-header" style="color: #F74C31;">净重</div>-->
                                        <!--<div class="layui-card">-->
                                        <!--<div class="layui-card-body">-->
                                        <!--<div class="layui-card-body layuiadmin-card-list">-->
                                        <!--<p class="layuiadmin-big-font" style="color: #F74C31;">6,666</p>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <!--<div class="layui-card-header">视频</div>-->
                                    <div class="layui-card-body" style="padding:5px">
                                        <img src="../../layuiadmin/layui/images/face/0.gif"
                                             style="width:200px;height:200px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">
                                        <button class="layui-btn layui-btn-sm">称毛重</button>
                                    </div>
                                    <div class="layui-card-body" style="padding: 5px">
                                        <div class="layui-col-md8">
                                            <!--表单数据-->
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label" style="padding-left:0;width: 50px">毛重</label>
                                                    <div class="layui-input-block" style="margin-left: 75px">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input"
                                                               readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label" style="padding-left:0;width: 50px">时间</label>
                                                    <div class="layui-input-block" style="margin-left: 75px">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input"
                                                               readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--图片一-->
                                        <div>
                                            <img src="../../layuiadmin/layui/images/face/0.gif"
                                                 style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-card">
                                    <div class="layui-card-header">
                                        <button class="layui-btn layui-btn-sm">称皮重</button>
                                    </div>
                                    <div class="layui-card-body" style="padding: 5px">
                                        <div class="layui-col-md8">
                                            <!--表单数据-->
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label" style="padding-left:0;width: 50px">皮重</label>
                                                    <div class="layui-input-block" style="margin-left: 75px">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input"
                                                               readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label" style="padding-left:0;width: 50px">时间</label>
                                                    <div class="layui-input-block" style="margin-left: 75px">
                                                        <input type="text" name="title" lay-verify="required"
                                                               autocomplete="off"
                                                               placeholder="" class="layui-input"
                                                               readonly="readonly">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--图片-->
                                        <div>
                                            <img src="../../layuiadmin/layui/images/face/0.gif"
                                                 style="width: 100px;height: 100px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md12">
                        <div class="layui-row layui-col-space10">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-header">备注</div>
                                    <div class="layui-card-body layui-row layui-col-space10">
                                        <div class="layui-col-md12">
                                            <textarea name="" placeholder="请输入" class="layui-textarea" style="min-height: 60px"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>


<script src="../../layuiadmin/layui/layui.js?t=1"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'console']);
</script>
</body>
</html>

