<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>条码扫描</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script type="text/javascript" src="./jsscanner.js"></script>
	<script type="text/javascript" src="./index.js"></script>
	<script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
	</script>
</head>
	<head>

	</head>
	<body>
		<div id='barcode' style='margin-top:100px;'>条码：</div>
	
	</body>
</html>