<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yotrio.pound.dao.PoundInfoMapper">
    <resultMap id="BaseResultMap" type="com.yotrio.pound.model.PoundInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="pound_name" jdbcType="VARCHAR" property="poundName"/>
        <result column="admin_emp_id" jdbcType="INTEGER" property="adminEmpId"/>
        <result column="admin_name" jdbcType="VARCHAR" property="adminName"/>
        <result column="admin_mobile" jdbcType="VARCHAR" property="adminMobile"/>
        <result column="unit_id" jdbcType="INTEGER" property="unitId"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, pound_name, admin_emp_id, admin_name, admin_mobile, unit_id, model, remark, status, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pound_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pound_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from pound_info
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yotrio.pound.model.PoundInfo">
    insert into pound_info (id, pound_name, admin_emp_id, admin_name, admin_mobile, unit_id,
      model, remark, status, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{poundName,jdbcType=VARCHAR}, #{adminEmpId,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminMobile,jdbcType=VARCHAR}, #{unitId,jdbcType=INTEGER},
      #{model,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yotrio.pound.model.PoundInfo">
        insert into pound_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="poundName != null">
                pound_name,
            </if>
            <if test="adminEmpId != null">
                admin_emp_id,
            </if>
            <if test="adminName != null">
                admin_name,
            </if>
            <if test="adminMobile != null">
                admin_mobile,
            </if>
            <if test="unitId != null">
                unit_id,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="poundName != null">
                #{poundName,jdbcType=VARCHAR},
            </if>
            <if test="adminEmpId != null">
                #{adminEmpId,jdbcType=INTEGER},
            </if>
            <if test="adminName != null">
                #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="adminMobile != null">
                #{adminMobile,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null">
                #{unitId,jdbcType=INTEGER},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yotrio.pound.model.PoundInfo">
        update pound_info
        <set>
            <if test="poundName != null">
                pound_name = #{poundName,jdbcType=VARCHAR},
            </if>
            <if test="adminEmpId != null">
                admin_emp_id = #{adminEmpId,jdbcType=INTEGER},
            </if>
            <if test="adminName != null">
                admin_name = #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="adminMobile != null">
                admin_mobile = #{adminMobile,jdbcType=VARCHAR},
            </if>
            <if test="unitId != null">
                unit_id = #{unitId,jdbcType=INTEGER},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yotrio.pound.model.PoundInfo">
    update pound_info
    set pound_name = #{poundName,jdbcType=VARCHAR},
      admin_emp_id = #{adminEmpId,jdbcType=INTEGER},
      admin_name = #{adminName,jdbcType=VARCHAR},
      admin_mobile = #{adminMobile,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectCountByMap" parameterType="map" resultType="int">
        select count(*) from
        <if test="dynamicTableName != null and dynamicTableName != ''">${dynamicTableName}</if>
        <if test="dynamicTableName == null or dynamicTableName == ''">pound_info</if>
        <include refid="Base_Query_Map_Condition"/>
    </select>
    <select id="selectListByMap" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <if test="dynamicTableName != null and dynamicTableName != ''">${dynamicTableName}</if>
        <if test="dynamicTableName == null or dynamicTableName == ''">pound_info</if>
        <include refid="Base_Query_Map_Condition"/>
        order by id desc
    </select>
    <sql id="Base_Query_Map_Condition">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="poundName != null and poundName != ''">
                AND pound_name = #{poundName,jdbcType=VARCHAR}
            </if>
            <if test="adminEmpId != null and adminEmpId != ''">
                AND admin_emp_id = #{adminEmpId,jdbcType=INTEGER}
            </if>
            <if test="adminName != null and adminName != ''">
                AND admin_name = #{adminName,jdbcType=VARCHAR}
            </if>
            <if test="adminMobile != null and adminMobile != ''">
                AND admin_mobile = #{adminMobile,jdbcType=VARCHAR}
            </if>
            <if test="unitId != null and unitId != ''">
                AND unit_id = #{unitId,jdbcType=INTEGER}
            </if>
            <if test="model != null and model != ''">
                AND model = #{model,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status,jdbcType=INTEGER}
            </if>
            <if test="createTime != null and createTime != ''">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="myGreater_id != null and myGreater_id != ''">
                AND id &gt; #{myGreater_id,jdbcType=INTEGER}
            </if>
            <if test="myGreater_poundName != null and myGreater_poundName != ''">
                AND pound_name &gt; #{myGreater_poundName,jdbcType=VARCHAR}
            </if>
            <if test="myGreater_adminEmpId != null and myGreater_adminEmpId != ''">
                AND admin_emp_id &gt; #{myGreater_adminEmpId,jdbcType=INTEGER}
            </if>
            <if test="myGreater_adminName != null and myGreater_adminName != ''">
                AND admin_name &gt; #{myGreater_adminName,jdbcType=VARCHAR}
            </if>
            <if test="myGreater_adminMobile != null and myGreater_adminMobile != ''">
                AND admin_mobile &gt; #{myGreater_adminMobile,jdbcType=VARCHAR}
            </if>
            <if test="myGreater_unitId != null and myGreater_unitId != ''">
                AND unit_id &gt; #{myGreater_unitId,jdbcType=INTEGER}
            </if>
            <if test="myGreater_model != null and myGreater_model != ''">
                AND model &gt; #{myGreater_model,jdbcType=VARCHAR}
            </if>
            <if test="myGreater_remark != null and myGreater_remark != ''">
                AND remark &gt; #{myGreater_remark,jdbcType=VARCHAR}
            </if>
            <if test="myGreater_status != null and myGreater_status != ''">
                AND status &gt; #{myGreater_status,jdbcType=INTEGER}
            </if>
            <if test="myGreater_createTime != null and myGreater_createTime != ''">
                AND create_time &gt; #{myGreater_createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="myLesser_id != null and myLesser_id != ''">
                AND id &lt; #{myLesser_id,jdbcType=INTEGER}
            </if>
            <if test="myLesser_poundName != null and myLesser_poundName != ''">
                AND pound_name &lt; #{myLesser_poundName,jdbcType=VARCHAR}
            </if>
            <if test="myLesser_adminEmpId != null and myLesser_adminEmpId != ''">
                AND admin_emp_id &lt; #{myLesser_adminEmpId,jdbcType=INTEGER}
            </if>
            <if test="myLesser_adminName != null and myLesser_adminName != ''">
                AND admin_name &lt; #{myLesser_adminName,jdbcType=VARCHAR}
            </if>
            <if test="myLesser_adminMobile != null and myLesser_adminMobile != ''">
                AND admin_mobile &lt; #{myLesser_adminMobile,jdbcType=VARCHAR}
            </if>
            <if test="myLesser_unitId != null and myLesser_unitId != ''">
                AND unit_id &lt; #{myLesser_unitId,jdbcType=INTEGER}
            </if>
            <if test="myLesser_model != null and myLesser_model != ''">
                AND model &lt; #{myLesser_model,jdbcType=VARCHAR}
            </if>
            <if test="myLesser_remark != null and myLesser_remark != ''">
                AND remark &lt; #{myLesser_remark,jdbcType=VARCHAR}
            </if>
            <if test="myLesser_status != null and myLesser_status != ''">
                AND status &lt; #{myLesser_status,jdbcType=INTEGER}
            </if>
            <if test="myLesser_createTime != null and myLesser_createTime != ''">
                AND create_time &lt; #{myLesser_createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="myLike_id != null and myLike_id != ''">
                AND id like CONCAT('%', #{myLike_id,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLike_poundName != null and myLike_poundName != ''">
                AND pound_name like CONCAT('%', #{myLike_poundName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLike_admin_emp_id != null and myLike_admin_emp_id != ''">
                AND admin_emp_id like CONCAT('%', #{myLike_admin_emp_id,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLike_adminName != null and myLike_adminName != ''">
                AND admin_name like CONCAT('%', #{myLike_adminName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLike_adminMobile != null and myLike_adminMobile != ''">
                AND admin_mobile like CONCAT('%', #{myLike_adminMobile,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLike_unitId != null and myLike_unitId != ''">
                AND unit_id like CONCAT('%', #{myLike_unitId,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLike_model != null and myLike_model != ''">
                AND model like CONCAT('%', #{myLike_model,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLike_remark != null and myLike_remark != ''">
                AND remark like CONCAT('%', #{myLike_remark,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLike_status != null and myLike_status != ''">
                AND status like CONCAT('%', #{myLike_status,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLike_createTime != null and myLike_createTime != ''">
                AND create_time like CONCAT('%', #{myLike_createTime,jdbcType=TIMESTAMP},'%' )
            </if>
            <if test="myLikeStart_id != null and myLikeStart_id != ''">
                AND id like CONCAT('%', #{myLikeStart_id,jdbcType=INTEGER})
            </if>
            <if test="myLikeStart_poundName != null and myLikeStart_poundName != ''">
                AND pound_name like CONCAT('%', #{myLikeStart_poundName,jdbcType=VARCHAR})
            </if>
            <if test="myLikeStart_admin_emp_id != null and myLikeStart_admin_emp_id != ''">
                AND admin_emp_id like CONCAT('%', #{myLikeStart_admin_emp_id,jdbcType=INTEGER})
            </if>
            <if test="myLikeStart_adminName != null and myLikeStart_adminName != ''">
                AND admin_name like CONCAT('%', #{myLikeStart_adminName,jdbcType=VARCHAR})
            </if>
            <if test="myLikeStart_adminMobile != null and myLikeStart_adminMobile != ''">
                AND admin_mobile like CONCAT('%', #{myLikeStart_adminMobile,jdbcType=VARCHAR})
            </if>
            <if test="myLikeStart_unitId != null and myLikeStart_unitId != ''">
                AND unit_id like CONCAT('%', #{myLikeStart_unitId,jdbcType=INTEGER})
            </if>
            <if test="myLikeStart_model != null and myLikeStart_model != ''">
                AND model like CONCAT('%', #{myLikeStart_model,jdbcType=VARCHAR})
            </if>
            <if test="myLikeStart_remark != null and myLikeStart_remark != ''">
                AND remark like CONCAT('%', #{myLikeStart_remark,jdbcType=VARCHAR})
            </if>
            <if test="myLikeStart_status != null and myLikeStart_status != ''">
                AND status like CONCAT('%', #{myLikeStart_status,jdbcType=INTEGER})
            </if>
            <if test="myLikeStart_createTime != null and myLikeStart_createTime != ''">
                AND create_time like CONCAT('%', #{myLikeStart_createTime,jdbcType=TIMESTAMP})
            </if>
            <if test="myLikeEnd_id != null and myLikeEnd_id != ''">
                AND id like CONCAT( #{myLikeEnd_id,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLikeEnd_poundName != null and myLikeEnd_poundName != ''">
                AND pound_name like CONCAT( #{myLikeEnd_poundName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLikeEnd_admin_emp_id != null and myLikeEnd_admin_emp_id != ''">
                AND admin_emp_id like CONCAT( #{myLikeEnd_admin_emp_id,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLikeEnd_adminName != null and myLikeEnd_adminName != ''">
                AND admin_name like CONCAT( #{myLikeEnd_adminName,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLikeEnd_adminMobile != null and myLikeEnd_adminMobile != ''">
                AND admin_mobile like CONCAT( #{myLikeEnd_adminMobile,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLikeEnd_unitId != null and myLikeEnd_unitId != ''">
                AND unit_id like CONCAT( #{myLikeEnd_unitId,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLikeEnd_model != null and myLikeEnd_model != ''">
                AND model like CONCAT( #{myLikeEnd_model,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLikeEnd_remark != null and myLikeEnd_remark != ''">
                AND remark like CONCAT( #{myLikeEnd_remark,jdbcType=VARCHAR},'%' )
            </if>
            <if test="myLikeEnd_status != null and myLikeEnd_status != ''">
                AND status like CONCAT( #{myLikeEnd_status,jdbcType=INTEGER},'%' )
            </if>
            <if test="myLikeEnd_createTime != null and myLikeEnd_createTime != ''">
                AND create_time like CONCAT( #{myLikeEnd_createTime,jdbcType=TIMESTAMP},'%' )
            </if>
            <if test="myIn_id != null and myIn_id != ''">
                AND id in
                <foreach item="item" index="index" collection="myIn_id" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_poundName != null and myIn_poundName != ''">
                AND pound_name in
                <foreach item="item" index="index" collection="myIn_poundName" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_adminEmpId != null and myIn_adminEmpId != ''">
                AND admin_emp_id in
                <foreach item="item" index="index" collection="myIn_adminEmpId" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_adminName != null and myIn_adminName != ''">
                AND admin_name in
                <foreach item="item" index="index" collection="myIn_adminName" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_adminMobile != null and myIn_adminMobile != ''">
                AND admin_mobile in
                <foreach item="item" index="index" collection="myIn_adminMobile" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_unitId != null and myIn_unitId != ''">
                AND unit_id in
                <foreach item="item" index="index" collection="myIn_unitId" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_model != null and myIn_model != ''">
                AND model in
                <foreach item="item" index="index" collection="myIn_model" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_remark != null and myIn_remark != ''">
                AND remark in
                <foreach item="item" index="index" collection="myIn_remark" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_status != null and myIn_status != ''">
                AND status in
                <foreach item="item" index="index" collection="myIn_status" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="myIn_createTime != null and myIn_createTime != ''">
                AND create_time in
                <foreach item="item" index="index" collection="myIn_createTime" open="(" separator="," close=")">#{item}</foreach>
            </if>
        </trim>
    </sql>
</mapper>