<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yotrio.pound.dao.StoreKeeperMapper">
  <resultMap id="BaseResultMap" type="com.yotrio.pound.model.StoreKeeper">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="keeper_name" jdbcType="VARCHAR" property="keeperName" />
    <result column="keeper_empid" jdbcType="INTEGER" property="keeperEmpid" />
    <result column="keeper_mobile" jdbcType="VARCHAR" property="keeperMobile" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_code, goods_name, org_code, org_name, keeper_name, keeper_empid, keeper_mobile, 
    status, description, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store_keeper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store_keeper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByIds" parameterType="java.lang.Integer">
    delete from store_keeper
    where id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yotrio.pound.model.StoreKeeper">
    insert into store_keeper ( goods_code, goods_name,
      org_code, org_name, keeper_name, 
      keeper_empid, keeper_mobile, status, 
      description, create_time, update_time
      )
    values ( #{goodsCode,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
      #{orgCode,jdbcType=VARCHAR}, #{orgName,jdbcType=VARCHAR}, #{keeperName,jdbcType=VARCHAR}, 
      #{keeperEmpid,jdbcType=INTEGER}, #{keeperMobile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.yotrio.pound.model.StoreKeeper">
    insert into store_keeper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="orgName != null">
        org_name,
      </if>
      <if test="keeperName != null">
        keeper_name,
      </if>
      <if test="keeperEmpid != null">
        keeper_empid,
      </if>
      <if test="keeperMobile != null">
        keeper_mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="keeperName != null">
        #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="keeperEmpid != null">
        #{keeperEmpid,jdbcType=INTEGER},
      </if>
      <if test="keeperMobile != null">
        #{keeperMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yotrio.pound.model.StoreKeeper">
    update store_keeper
    <set>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="keeperName != null">
        keeper_name = #{keeperName,jdbcType=VARCHAR},
      </if>
      <if test="keeperEmpid != null">
        keeper_empid = #{keeperEmpid,jdbcType=INTEGER},
      </if>
      <if test="keeperMobile != null">
        keeper_mobile = #{keeperMobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yotrio.pound.model.StoreKeeper">
    update store_keeper
    set goods_code = #{goodsCode,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      org_name = #{orgName,jdbcType=VARCHAR},
      keeper_name = #{keeperName,jdbcType=VARCHAR},
      keeper_empid = #{keeperEmpid,jdbcType=INTEGER},
      keeper_mobile = #{keeperMobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountByMap" parameterType="map" resultType="int">
    select count(*) from  <if test="dynamicTableName != null and dynamicTableName != ''"> ${dynamicTableName}  </if><if test="dynamicTableName == null or dynamicTableName == ''"> store_keeper</if> <include refid="Base_Query_Map_Condition" /> 
  </select>
  <select id="selectListByMap" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from  <if test="dynamicTableName != null and dynamicTableName != ''"> ${dynamicTableName}  </if><if test="dynamicTableName == null or dynamicTableName == ''"> store_keeper</if> <include refid="Base_Query_Map_Condition" />  order by  id desc
  </select>
  <sql id="Base_Query_Map_Condition">
    <trim prefix="where" prefixOverrides="and | or">
      <if test="id != null and id != ''">
         AND id = #{id,jdbcType=INTEGER}
      </if>
      <if test="goodsCode != null and goodsCode != ''">
         AND goods_code = #{goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="goodsName != null and goodsName != ''">
         AND goods_name = #{goodsName,jdbcType=VARCHAR}
      </if>
      <if test="orgCode != null and orgCode != ''">
         AND org_code = #{orgCode,jdbcType=VARCHAR}
      </if>
      <if test="orgName != null and orgName != ''">
         AND org_name = #{orgName,jdbcType=VARCHAR}
      </if>
      <if test="keeperName != null and keeperName != ''">
         AND keeper_name = #{keeperName,jdbcType=VARCHAR}
      </if>
      <if test="keeperEmpid != null and keeperEmpid != ''">
         AND keeper_empid = #{keeperEmpid,jdbcType=INTEGER}
      </if>
      <if test="keeperMobile != null and keeperMobile != ''">
         AND keeper_mobile = #{keeperMobile,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status != ''">
         AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="description != null and description != ''">
         AND description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null and createTime != ''">
         AND create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null and updateTime != ''">
         AND update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="myGreater_id != null and myGreater_id != ''">
         AND id &gt; #{myGreater_id,jdbcType=INTEGER}
      </if>
      <if test="myGreater_goodsCode != null and myGreater_goodsCode != ''">
         AND goods_code &gt; #{myGreater_goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_goodsName != null and myGreater_goodsName != ''">
         AND goods_name &gt; #{myGreater_goodsName,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_orgCode != null and myGreater_orgCode != ''">
         AND org_code &gt; #{myGreater_orgCode,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_orgName != null and myGreater_orgName != ''">
         AND org_name &gt; #{myGreater_orgName,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_keeperName != null and myGreater_keeperName != ''">
         AND keeper_name &gt; #{myGreater_keeperName,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_keeperEmpid != null and myGreater_keeperEmpid != ''">
         AND keeper_empid &gt; #{myGreater_keeperEmpid,jdbcType=INTEGER}
      </if>
      <if test="myGreater_keeperMobile != null and myGreater_keeperMobile != ''">
         AND keeper_mobile &gt; #{myGreater_keeperMobile,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_status != null and myGreater_status != ''">
         AND status &gt; #{myGreater_status,jdbcType=INTEGER}
      </if>
      <if test="myGreater_description != null and myGreater_description != ''">
         AND description &gt; #{myGreater_description,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_createTime != null and myGreater_createTime != ''">
         AND create_time &gt; #{myGreater_createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="myGreater_updateTime != null and myGreater_updateTime != ''">
         AND update_time &gt; #{myGreater_updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="myLesser_id != null and myLesser_id != ''">
         AND id &lt; #{myLesser_id,jdbcType=INTEGER}
      </if>
      <if test="myLesser_goodsCode != null and myLesser_goodsCode != ''">
         AND goods_code &lt; #{myLesser_goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_goodsName != null and myLesser_goodsName != ''">
         AND goods_name &lt; #{myLesser_goodsName,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_orgCode != null and myLesser_orgCode != ''">
         AND org_code &lt; #{myLesser_orgCode,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_orgName != null and myLesser_orgName != ''">
         AND org_name &lt; #{myLesser_orgName,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_keeperName != null and myLesser_keeperName != ''">
         AND keeper_name &lt; #{myLesser_keeperName,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_keeperEmpid != null and myLesser_keeperEmpid != ''">
         AND keeper_empid &lt; #{myLesser_keeperEmpid,jdbcType=INTEGER}
      </if>
      <if test="myLesser_keeperMobile != null and myLesser_keeperMobile != ''">
         AND keeper_mobile &lt; #{myLesser_keeperMobile,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_status != null and myLesser_status != ''">
         AND status &lt; #{myLesser_status,jdbcType=INTEGER}
      </if>
      <if test="myLesser_description != null and myLesser_description != ''">
         AND description &lt; #{myLesser_description,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_createTime != null and myLesser_createTime != ''">
         AND create_time &lt; #{myLesser_createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="myLesser_updateTime != null and myLesser_updateTime != ''">
         AND update_time &lt; #{myLesser_updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="myLike_id != null and myLike_id != ''">
         AND id like CONCAT('%', #{myLike_id,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLike_goodsCode != null and myLike_goodsCode != ''">
         AND goods_code like CONCAT('%', #{myLike_goodsCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_goodsName != null and myLike_goodsName != ''">
         AND goods_name like CONCAT('%', #{myLike_goodsName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_orgCode != null and myLike_orgCode != ''">
         AND org_code like CONCAT('%', #{myLike_orgCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_orgName != null and myLike_orgName != ''">
         AND org_name like CONCAT('%', #{myLike_orgName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_keeperName != null and myLike_keeperName != ''">
         AND keeper_name like CONCAT('%', #{myLike_keeperName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_keeperEmpid != null and myLike_keeperEmpid != ''">
         AND keeper_empid like CONCAT('%', #{myLike_keeperEmpid,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLike_keeperMobile != null and myLike_keeperMobile != ''">
         AND keeper_mobile like CONCAT('%', #{myLike_keeperMobile,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_status != null and myLike_status != ''">
         AND status like CONCAT('%', #{myLike_status,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLike_description != null and myLike_description != ''">
         AND description like CONCAT('%', #{myLike_description,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_createTime != null and myLike_createTime != ''">
         AND create_time like CONCAT('%', #{myLike_createTime,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLike_updateTime != null and myLike_updateTime != ''">
         AND update_time like CONCAT('%', #{myLike_updateTime,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLikeStart_id != null and myLikeStart_id != ''">
         AND id like CONCAT('%', #{myLikeStart_id,jdbcType=INTEGER})
      </if>
      <if test="myLikeStart_goodsCode != null and myLikeStart_goodsCode != ''">
         AND goods_code like CONCAT('%', #{myLikeStart_goodsCode,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_goodsName != null and myLikeStart_goodsName != ''">
         AND goods_name like CONCAT('%', #{myLikeStart_goodsName,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_orgCode != null and myLikeStart_orgCode != ''">
         AND org_code like CONCAT('%', #{myLikeStart_orgCode,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_orgName != null and myLikeStart_orgName != ''">
         AND org_name like CONCAT('%', #{myLikeStart_orgName,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_keeperName != null and myLikeStart_keeperName != ''">
         AND keeper_name like CONCAT('%', #{myLikeStart_keeperName,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_keeperEmpid != null and myLikeStart_keeperEmpid != ''">
         AND keeper_empid like CONCAT('%', #{myLikeStart_keeperEmpid,jdbcType=INTEGER})
      </if>
      <if test="myLikeStart_keeperMobile != null and myLikeStart_keeperMobile != ''">
         AND keeper_mobile like CONCAT('%', #{myLikeStart_keeperMobile,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_status != null and myLikeStart_status != ''">
         AND status like CONCAT('%', #{myLikeStart_status,jdbcType=INTEGER})
      </if>
      <if test="myLikeStart_description != null and myLikeStart_description != ''">
         AND description like CONCAT('%', #{myLikeStart_description,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_createTime != null and myLikeStart_createTime != ''">
         AND create_time like CONCAT('%', #{myLikeStart_createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="myLikeStart_updateTime != null and myLikeStart_updateTime != ''">
         AND update_time like CONCAT('%', #{myLikeStart_updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="myLikeEnd_id != null and myLikeEnd_id != ''">
         AND id like CONCAT( #{myLikeEnd_id,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLikeEnd_goodsCode != null and myLikeEnd_goodsCode != ''">
         AND goods_code like CONCAT( #{myLikeEnd_goodsCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_goodsName != null and myLikeEnd_goodsName != ''">
         AND goods_name like CONCAT( #{myLikeEnd_goodsName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_orgCode != null and myLikeEnd_orgCode != ''">
         AND org_code like CONCAT( #{myLikeEnd_orgCode,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_orgName != null and myLikeEnd_orgName != ''">
         AND org_name like CONCAT( #{myLikeEnd_orgName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_keeperName != null and myLikeEnd_keeperName != ''">
         AND keeper_name like CONCAT( #{myLikeEnd_keeperName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_keeperEmpid != null and myLikeEnd_keeperEmpid != ''">
         AND keeper_empid like CONCAT( #{myLikeEnd_keeperEmpid,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLikeEnd_keeperMobile != null and myLikeEnd_keeperMobile != ''">
         AND keeper_mobile like CONCAT( #{myLikeEnd_keeperMobile,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_status != null and myLikeEnd_status != ''">
         AND status like CONCAT( #{myLikeEnd_status,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLikeEnd_description != null and myLikeEnd_description != ''">
         AND description like CONCAT( #{myLikeEnd_description,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_createTime != null and myLikeEnd_createTime != ''">
         AND create_time like CONCAT( #{myLikeEnd_createTime,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLikeEnd_updateTime != null and myLikeEnd_updateTime != ''">
         AND update_time like CONCAT( #{myLikeEnd_updateTime,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myIn_id != null and myIn_id != ''">
         AND id in <foreach item="item" index="index" collection="myIn_id" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_goodsCode != null and myIn_goodsCode != ''">
         AND goods_code in <foreach item="item" index="index" collection="myIn_goodsCode" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_goodsName != null and myIn_goodsName != ''">
         AND goods_name in <foreach item="item" index="index" collection="myIn_goodsName" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_orgCode != null and myIn_orgCode != ''">
         AND org_code in <foreach item="item" index="index" collection="myIn_orgCode" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_orgName != null and myIn_orgName != ''">
         AND org_name in <foreach item="item" index="index" collection="myIn_orgName" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_keeperName != null and myIn_keeperName != ''">
         AND keeper_name in <foreach item="item" index="index" collection="myIn_keeperName" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_keeperEmpid != null and myIn_keeperEmpid != ''">
         AND keeper_empid in <foreach item="item" index="index" collection="myIn_keeperEmpid" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_keeperMobile != null and myIn_keeperMobile != ''">
         AND keeper_mobile in <foreach item="item" index="index" collection="myIn_keeperMobile" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_status != null and myIn_status != ''">
         AND status in <foreach item="item" index="index" collection="myIn_status" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_description != null and myIn_description != ''">
         AND description in <foreach item="item" index="index" collection="myIn_description" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_createTime != null and myIn_createTime != ''">
         AND create_time in <foreach item="item" index="index" collection="myIn_createTime" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_updateTime != null and myIn_updateTime != ''">
         AND update_time in <foreach item="item" index="index" collection="myIn_updateTime" open="(" separator="," close=")"> #{item} </foreach>
      </if>
    </trim>
  </sql>
</mapper>