<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>地磅系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

<input type="hidden" id="poundLogNo" th:value="${poundLog.poundLogNo}">
<div class="layui-fluid">
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
         style="padding: 20px 0 0 0;">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">所属磅房</label>
                    <div class="layui-input-inline">
                        <input type="text" name="poundName" autocomplete="off" readonly="readonly" class="layui-input"
                               th:value="${poundInfo.poundName}">
                    </div>
                </div>
                <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">地磅管理员</label>-->
                <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="adminName" autocomplete="off" readonly="readonly" class="layui-input"-->
                <!--th:value="${poundInfo.adminName}">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">工号</label>-->
                <!--<div class="layui-input-inline">-->
                <!--<input type="number" name="adminEmpId" autocomplete="off" readonly="readonly"-->
                <!--class="layui-input" th:value="${poundInfo.adminEmpId}">-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">手机号</label>-->
                <!--<div class="layui-input-inline">-->
                <!--<input type="number" name="adminMobile" autocomplete="off" class="layui-input"-->
                <!--th:value="${poundInfo.adminMobile}">-->
                <!--</div>-->
                <!--</div>-->
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">过磅单单号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="poundLogNo" autocomplete="off" readonly="readonly" class="layui-input"
                               th:value="${poundLog.poundLogNo}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">组织</label>
                    <div class="layui-input-inline">
                        <input type="text" name="unitName" autocomplete="off" readonly="readonly" class="layui-input"
                               th:value="${poundLog.unitName}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">供应商名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="compName" autocomplete="off" readonly="readonly" class="layui-input"
                               th:value="${poundLog.compName}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">车牌号码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="plateNo" autocomplete="off" readonly="readonly" class="layui-input"
                               th:value="${poundLog.plateNo}">
                    </div>
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">毛重</label>
                    <div class="layui-input-inline">
                        <input type="number" name="grossWeight" autocomplete="off" readonly="readonly"
                               class="layui-input"
                               th:value="${poundLog.grossWeight}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">皮重</label>
                    <div class="layui-input-inline">
                        <input type="number" name="tareWeight" autocomplete="off" readonly="readonly"
                               class="layui-input"
                               th:value="${poundLog.tareWeight}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">样品重量</label>
                    <div class="layui-input-inline">
                        <input type="number" name="sampleNetWeight" autocomplete="off" readonly="readonly"
                               class="layui-input"
                               th:value="${poundLog.sampleNetWeight}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">净重</label>
                    <div class="layui-input-inline">
                        <input type="number" name="netWeight" autocomplete="off" readonly="readonly"
                               class="layui-input"
                               th:value="${poundLog.netWeight}">
                    </div>
                    <div class="layui-form-mid layui-word-aux">不含样品</div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">过皮重时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" autocomplete="off" class="layui-input" readonly="readonly"
                               th:value="${#dates.format(poundLog.firstTime,'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">过皮重时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" autocomplete="off" class="layui-input" readonly="readonly"
                               th:value="${#dates.format(poundLog.secondTime,'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" autocomplete="off" class="layui-input" readonly="readonly"
                               th:value="${#dates.format(poundLog.createTime,'yyyy-MM-dd HH:mm:ss')}">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">磅差</label>
                        <div class="layui-input-inline">
                            <input type="number" name="diffWeight" autocomplete="off" readonly="readonly"
                                   class="layui-input"
                                   th:value="${poundLog.diffWeight}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">报检单总重</label>
                        <div class="layui-input-inline">
                            <input type="number" name="inspWeightTotal" autocomplete="off" readonly="readonly"
                                   class="layui-input"
                                   th:value="${poundLog.inspWeightTotal}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">随车退总重</label>
                        <div class="layui-input-inline">
                            <input type="number" name="returnWeightTotal" autocomplete="off" readonly="readonly"
                                   class="layui-input"
                                   th:value="${poundLog.returnWeightTotal}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text" th:if="${poundLog.remark}">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="" class="layui-textarea" th:value="${poundLog.remark}"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <img th:src="@{${poundLog.grossImgUrl}}" alt="毛重图片">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <img th:src="@{${poundLog.tareImgUrl}}" alt="皮重图片">
                        </div>
                    </div>
                </div>
            </div>


            <div class="layui-form-item" th:if="${poundLog.types eq 0}">
                <table id="LAY-inspection-manage" lay-filter="LAY-inspection-manage" class="layui-hide"></table>
                <script type="text/html" id="typesTpl">
                    {{#  if(d.types == 1){ }}
                    <span>是</span>
                    {{#  } else { }}
                    <span>否</span>
                    {{#  } }}
                </script>
            </div>
        </form>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'table', 'pound'], function () {
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer
            , table = layui.table
            , laydate = layui.laydate;

    });
</script>
</body>
</html>